<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Firebear Studio. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Firebear\ImportExport\Model\Source\ConfigInterface"
                type="Firebear\ImportExport\Model\Source\Config" />

    <type name="Magento\ImportExport\Controller\Adminhtml\Import\Validate">
        <plugin name="firebear_importexport_controller_import_validate" type="Firebear\ImportExport\Plugin\Controller\Adminhtml\Import\Validate" />
    </type>
    <type name="Magento\CatalogImportExport\Model\Import\Product\Validator">
        <plugin name="firebear_importexport_import_product_validator" type="Firebear\ImportExport\Plugin\Model\Import\Product\Validator" />
    </type>
    <type name="Magento\ImportExport\Model\Import\Config\Converter">
        <plugin name="firebear_importexport_config_converter" type="Firebear\ImportExport\Plugin\Model\Import\Config\Converter" />
    </type>
</config>