<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Firebear Studio. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Firebear_ImportExport" setup_version="1.0.4">
        <sequence>
            <module name="Magento_ImportExport" />
            <module name="Magento_CatalogImportExport" />
        </sequence>
    </module>
</config>
